# Trials

In [1]:
print('hello world')

hello world

In [2]:
import sklearn as sns

In [3]:
names = "Harry,Sam"
print(names)

Harry,Sam

In [4]:
len(names)

9

In [5]:
fruit = "Mango"
mangoLen = len(fruit)
print(mangoLen)

5

In [6]:
print(fruit[0:4])

Mang

In [7]:
print(fruit[:])

Mango

In [8]:
print(fruit[3:])

go

In [9]:
g = fruit[:-3]

In [10]:
print(g)

Ma

In [11]:
nm = '!!!!Harry!!!!!'

In [12]:
print(nm[-4:-2])

!!

In [13]:
print(nm.strip("!"))

Harry

In [14]:
print(nm.replace("Harry","John"))

!!!!John!!!!!

In [15]:
print(nm.replace("!",'$'))

$$$$Harry$$$$$

STRINGS ARE IMMUTABLE

In [16]:
print(nm.split())

['!!!!Harry!!!!!']

In [17]:
print(nm.split("r"))

['!!!!Ha', '', 'y!!!!!']

In [18]:
print(nm.isprintable())

True

In [32]:
n = int(input("Enter your age: "))
print("Your age is", n)
if n >= 18 and n < 110:
    print("You can drive")
elif n >= 110:
    print("Kon itna lamba jeeta hai!!")
elif n <= 0:
    print("Chutiye mazak mat kar")
else:
    print("You cannot drive")

Enter your age:  24

Your age is 24
You can drive

In [20]:
import time

In [21]:
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
type(timestamp)

18:09:41
18
09
41

str


--------------------- x ------------------------------- x -------------------------------- x ----------------------------------

### Create a prog capable of greeting you with good morning, good afternoon and good evening. Your prog should use time module to get the current hour.

In [22]:
tt = (time.strftime('%H:%M:%S'))
print (tt)
type(tt)

18:09:41

str

In [23]:
t1 = int(time.strftime('%H'))
print(t1)

18

In [3]:
n = int(input("Enter the time in 24hr format: "))
if n < 12 and n >= 0:
    print("Good Morning")
elif n >= 12 and n < 18:
    print("Good Afternoon")
elif n >= 18 and n <= 21:
    print("Good Evening")
elif n > 21 and n <= 23:
    print("Good Night")
elif n < 0:
    print("Enter appropriate format")
else:
    print("Kya pata kya hua!")

Enter the time in 24hr format:  23

Good Night

# Final Answer

In [25]:
#FINALLLL

n1 = (input("Enter the time in 24hr format: "))
k = n1.split(':')
n = k[0]
n = int(n)
if n < 12 and n >= 0:
    print("Good Morning!")
elif n >= 12 and n < 18:
    print("Good Afternoon!")
elif n >= 18 and n <= 21:
    print("Good Evening!")
elif n > 21 and n <= 23:
    print("Good Night!")
elif n < 0:
    print("Enter appropriate format")
else:
    print("Kya pata kya hua!")

Enter the time in 24hr format:  18:10

Good Evening!

In [26]:
n = (input("Enter the time in 24hr format: "))
k = n.split(':')
print(k)

Enter the time in 24hr format:  18:10

['18', '10']

In [27]:
l = k[0]
print(l)

18

------------- x ----------------------- x ------------------------- x -------------------------------------

In [28]:
x = int(input("Enter the number: "))
match x:
    case 0:
        print("x is 0")
    case 4:
        print("x is 4")
    case _:
        print(x)

Enter the number:  0

x is 0

In [29]:
for k in range(6,10):
    print(k)

6
7
8
9

In [30]:
for i in range(1,12,3):
    print(i)

1
4
7
10

In [31]:
print("hello")

hello

In [36]:
i = 1
while (i > 0 and i < 11):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [38]:
def calculateGmean(a,b):
    mean = (a*b)/(a+b)
    print(mean)

a = 9
b = 8

In [39]:
calculateGmean(a,b)

4.235294117647059

In [40]:
c = 10
d = 4

calculateGmean(c,d)

2.857142857142857

In [4]:
def summ(a,b):
    c = (a+b)
    print(c)
    if a > b:
        print(a, "is greater than", b)
    else:
        print(b, "is greater than", a)

In [5]:
summ(100,2)

102
100 is greater than 2

In [7]:
c = 55
d = 555
summ(c,d)

610
555 is greater than 55

In [12]:
def avgg(a = 4, b = 1):
    n = (a+b)/2
    print("Avg is", n)
avgg()

Avg is 2.5

In [30]:
a = ["Ram","Sita","Sam"]

In [23]:
print(a)
print(b)

R
a

In [37]:
print(a)

['Ram', 'Sita', 'Sam']

In [42]:
len(a)

4

In [41]:
a = [1,2,3,4]

In [25]:
# Default args:-

def summ(*nums):
    total = 0
    for num in nums:
        total += num
        print("Sum is", total)

In [26]:
summ(1,2,3,4)

Sum is 1
Sum is 3
Sum is 6
Sum is 10

In [9]:
def summ1(*nums):
    total = sum(nums)
    print()

In [10]:
summ1(1,2)

3

In [17]:
def summm(*nums):
    s = 0
    s += nums
    print(s)

In [27]:
def sum_all(*numbers):
        total = 0
        for num in numbers:
            total += num
        print(f"Sum: {total}")

In [22]:
sum_all(1, 2, 3, 4)

Sum: 10

In [55]:
def func_sum(*k):
    s = 0
    for i in k:
        s += i
    print('Sum:',s)

In [57]:
d = func_sum(1,2,3,4)

Sum: 10

In [34]:
def namee(name, greet):
    print (f"Hello, {name} ")

In [35]:
namee("Heet", "Good evening")

Hello, Heet Good evening

In [36]:
namee(greet = "Good Night", name = "Heet")

Hello, Heet Good Night

In [40]:
    def display_info(**details):
        for key, value in details.items():
            print(f"{key}: {value}")

    display_info(name="Eve", age=30, city="New York") # details becomes {'name': 'Eve', 'age': 30, 'city': 'New York'}

name: Eve
age: 30
city: New York

In [1]:
a = [1,2,3,4]

In [5]:
print(a[1:len(a)-1])

[2, 3]

In [6]:
def greet(name, greet):
    print(f"Hello! {name} {greet}")

In [7]:
greet(name = "Heet", greet = "Good Evening!")

Hello! Heet Good Evening!

In [8]:
greet("Heet", "Good Evening")

Hello! Heet Good Evening

In [15]:
def summ(*a):
    s = sum(a)
    print("Sum is", s)

In [16]:
summ(1,2,3,4)

Sum is 10

In [27]:
l = [1,22,100,45]

In [28]:
m = l.copy()

In [29]:
m[0] = 0

In [32]:
print(m)

[0, 22, 100, 45]

In [33]:
l = [1,22,100,45]

In [35]:
print(l[:-1])

[1, 22, 100]

In [36]:
print(l[:len(l)-1])

[1, 22, 100]

In [42]:
tup = (1,2,3,4,3,5,3,6,3)

In [43]:
rews = tup.count(3)

In [44]:
print(rews)

4

In [47]:
h = tup.index(5,4,9)

In [48]:
print(h)

5

# KBC

In [27]:
print("KBC me aapka swagat hai!")
print("\nPehla Prashn aapke samne ki screen me\n")
question1 = ["Which is the largest planet of the solar system?","A. Earth","B. Jupiter","C. Mars","D. Neptune","B"]
print(question1[0])
print("Your options are: ")
print(question1[1])
print(question1[2])
print(question1[3])
print(question1[4])
n = input("Enter your answer: ")
n = n.upper()
if n == question1[-1]:
    print("You have won Rs. 2000")
else:
    print("I'm afraid it's an incorrect answer")

KBC me aapka swagat hai!

Pehla Prashn aapke samne ki screen me

Which is the largest planet of the solar system?
Your options are:
A. Earth
B. Jupiter
C. Mars
D. Neptune

Enter your answer:  b

You have won Rs. 2000

In [4]:
BOLD = '\033[1m'
END = '\033[0m'
PURPLE = '\033[95m'
UNDERLINE = '\033[4m'

print(f"{PURPLE}{BOLD}{UNDERLINE}Welcome to KBC!{END}")
ques = [
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"],
    ["Which planet in our solar system is known for its prominent ring system?","A. Earth","B. Jupiter","C. Mars","D. Saturn","D"],
    ["What is the largest organ in the human body?","A. Skin","B. Small Intestine","C. Large Intestine","D. Lungs","A"],
    ["Which planet is known as the \"Red Planet\"?","A. Earth","B. Jupiter","C. Mars","D. Neptune","C"]
]

level = [10000,50000,100000,10000000]

money = 0

for i in range (0,len(ques)):
    q = ques[i]
    print(f"\nQuestion for Rs. {level[i]}")
    print(f"{q[0]}")
    print(f"{q[1]} \t{q[2]}")
    print(f"{q[3]} \t{q[4]}")
    r = input("Enter your Answer: ")
    r = r.upper()
    if r == q[-1]:
        print(f"{BOLD}Horrah! You have won Rs {level[i]} {END}")
        if i == 1:
            money = 50000
        elif i == 2:
            money = 100000
        elif i == 3:
            money = 1000000
           
    else:
        print(f"{BOLD}Alas! You have lost the game{END}")
        print("Your take home money is:", money) 
        break

Welcome to KBC!

Question for Rs. 10000
Which is the largest planet of the solar system?
A. Earth 	B. Jupiter
C. Mars 	D. Neptune

Enter your Answer:  B

Horrah! You have won Rs 10000

Question for Rs. 50000
Which planet in our solar system is known for its prominent ring system?
A. Earth 	B. Jupiter
C. Mars 	D. Saturn

Enter your Answer:  D

Horrah! You have won Rs 50000

Question for Rs. 100000
What is the largest organ in the human body?
A. Skin 	B. Small Intestine
C. Large Intestine 	D. Lungs

Enter your Answer:  A

Horrah! You have won Rs 100000

Question for Rs. 10000000
Which planet is known as the "Red Planet"?
A. Earth 	B. Jupiter
C. Mars 	D. Neptune

Enter your Answer:  C

Horrah! You have won Rs 10000000

In [2]:
thislist = [["apple", "banana", "cherry", "apple", "cherry"] ,["Grapes","Moscow"]]
print(thislist)

[['apple', 'banana', 'cherry', 'apple', 'cherry'], ['Grapes', 'Moscow']]

In [8]:
a = thislist[1][1]
print(a)

Moscow

In [1]:
a = 5
b = complex(a)
print(b)

(5+0j)

In [2]:
print(bool("abc"))

True

In [5]:
print(bool(1))

True

In [7]:
a = [1,2,3]
b = list(a)
b.pop()
print(b)
print(a)

[1, 2]
[1, 2, 3]

In [6]:
def myfunc(a, b):
  return(a + b)

x = map(myfunc, (2,3,4), (5,6,7))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x000001B2D918F040>
[7, 9, 11]

In [28]:
print("Welcome to KBC!")
ques = [
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"],
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"]
]

level = [1000,2000]

money = 0

for i in range(0,len(ques)):
    q = ques[i]
    print("Question for Rs.",level[i])
    print(q[0])
    print(q[1],'     ',q[2])
    print(q[3],'     ',q[4])
    n = input("Enter your Answer: ")
    n = n.upper()
    if n == q[-1]:
        print("You have won Rs.",level[i])
        if i == 0:
            money = level[0]
        elif i == 1:
            money = level[1]
    else:
        print("You have lost!")
        print("Your take home money is Rs.",money)
        break

Welcome to KBC!
Question for Rs. 1000
Which is the largest planet of the solar system?
A. Earth       B. Jupiter
C. Mars       D. Neptune

Enter your Answer:  a

You have lost!
Your take home money is Rs. 0

In [34]:
print("Welcome to KBC")

ques = [
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"],
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"]
]

lvl = [1,2]

for i in range(0,len(ques)):
    q = ques[i]
    print("Your question for Rs.",lvl[i],"is")
    print(q[0])
    print(q[1],'   ',q[2])
    n = input("Enter you answer: ")
    n = n.upper()
    if n == q[-1]:
        print("You have won Rs",lvl[i])
    else:
        print("You have lost")
        break

Welcome to KBC
Your question for Rs. 1 is
Which is the largest planet of the solar system?
A. Earth     B. Jupiter

Enter you answer:  a

You have lost

In [39]:
a= [1,2,3,4]
for i in range(0,len(a)):
    print(a[i])
    if a[i] == a[1]:
        break

1
2

In [42]:
a = [1,2,3,4]
for i in range(0,len(a)):
    print(a[i])

1
2
3
4

In [43]:
name = "Harry"
city = "Kasol"

print(f"My name is {name}. I am from {city}.")

My name is Harry. I am from Kasol.

In [51]:
price = 50.1234
txt = f"Only for Rs.{price:.2f}"
print(txt)

Only for Rs.50.12

In [47]:
ques = [
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"],
    ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"]
]

In [50]:
ques[0][1]

'A. Earth'

In [53]:
ques = ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"], ["Which is the largest planet of the solar system?","A. Earth", "B. Jupiter", "C. Mars", "D. Neptune","B"]
lvl = [1,2]

for i in range(0,len(ques)):
    q = ques[i]
    print("Your question for Rs.",lvl[i],"is")
    print(q[0])
    print(q[1],'   ',q[2])
    n = input("Enter you answer: ")
    n = n.upper()
    if n == q[-1]:
        print("You have won Rs",lvl[i])
    else:
        print("You have lost")
        break

Your question for Rs. 1 is
Which is the largest planet of the solar system?
A. Earth     B. Jupiter

Enter you answer:  a

You have lost

In [2]:
tuple1 = (1,2,3)
tuple1 = tuple1 * 2
print(tuple1)

(1, 2, 3, 1, 2, 3)

In [5]:
tuple1 = ('a', 'b' , 'c')
tuple2 = (1, 2, 3)
tuple3 = tuple2 + tuple1
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [6]:
thisset = {'apple', 'banana', 'cherry'}
print('banana' not in thisset)

False

In [11]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'banana', 'grapes', 'mango', 'cherry', 'orange', 'apple'}

In [12]:
fruits.remove("apple")

In [13]:
print(fruits)

{'banana', 'grapes', 'mango', 'cherry', 'orange'}

In [20]:
x = {'type' : 'fruit', 'name' : 'apple'}
print(x)

for i in x.items():
    print(i)

{'type': 'fruit', 'name': 'apple'}
('type', 'fruit')
('name', 'apple')

In [22]:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}
print(customers)

{'c1': {'name': 'John', 'age': '20'}, 'c2': {'name': 'May', 'age': '23'}}

In [28]:
print(customers["c2"]["name"])

May

In [33]:
day = 10
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case _:
    print("Sunday")

Sunday

In [34]:
name = "Harry"
city = "Ooty"

print("My name is {}. I'm from {}".format(name,city))

My name is Harry. I'm from Ooty

In [37]:
p = 2.222
print(f"The price is{p: .2f}")

The price is 2.22

In [38]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Recursion

In [47]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)


n1 = int(input("Enter the number: "))
print("The factorial of",n1,"is :",factorial(n1))

Enter the number:  3

The factorial of 3 is : 6

In [44]:
factorial(3)

6

In [45]:
n1 = int(input("Enter the number: "))
if n1 == 0 or n1 == 1:
    print(1)
else:
    print(factorial(n1))

Enter the number:  3

6

In [50]:
#Fibonacci series

f0 = 0
f1 = 1
fn = (n-1) + (n-2)

In [56]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

n1 = int(input("Enter the number: "))
print(fibo(n1))

Enter the number:  5

8

In [55]:
fibo(4)

5

In [65]:
def f(n):
    if n == 0 or n == 1:
        return 1
    else:
        return f(n-1) + f(n-2)

n1 = int(input("Enter the number: "))
for i in range (n1):
    print(fibo(i), end = " ")

Enter the number:  10

1 1 2 3 5 8 13 21 34 55

In [60]:
f(10)

89

In [61]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Print Fibonacci series up to n terms
n_terms = 10
print("Fibonacci series:")
for i in range(n_terms):
    print(fibonacci(i), end=" ")

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [62]:
for i in range(3):
    print(i)

0
1
2

In [79]:
# Factorial

def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)

n1 = int(input("Enter the number:"))
print(f"The factorial of {n1} is {fact(n1)}")

Enter the number: 5

The factorial of 5 is 120

In [89]:
def process(n):
    if n == 1:
        return '1'
    else:
        return str(n) + " x " + process(n-1)

In [90]:
process(5)

'5 x 4 x 3 x 2 x 1'

In [84]:
type(process)

function

In [95]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n * factorial(n-1)

def process(n):
    if n == 1:
        return '1'
    else:
        return str(n) + " x " + process(n-1)

n1 = int(input("Enter the number: "))
print("Factorial Process: ",process(n1))
print("The factorial of", n1, "is", factorial(n1))

Enter the number:  5

Factorial Process:  5 x 4 x 3 x 2 x 1
The factorial of 5 is 120

In [100]:
#fibonacci series

def fibo(n):
    if n == 1 or n == 0:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

n1 = int(input("Enter the number:"))
for i in range(n1):
    print(fibo(i), end = " ")

Enter the number: 5

1 1 2 3 5

# Sets

In [7]:
s = {10,2,4,6,2,4}

In [8]:
s

{2, 4, 6, 10}

In [12]:
h = set()
print(type(h))

<class 'set'>

In [13]:
for i in s:
    print(i)

10
2
4
6

In [28]:
s1 = {1,1,2,3}
s2 = {4,5,6,1,2}
print(s1.union(s2))
s3 = set()
s3.update(s1)
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}

In [29]:
s1.intersection(s2)

{1, 2}

In [23]:
s1.intersection_update(s2)

In [24]:
print(s1)

{1, 2}

In [25]:
print(s3)

{1, 2, 3}

In [30]:
s1.symmetric_difference(s2)

{3, 4, 5, 6}

# if elif else

In [10]:
n1 = int(input("Enter the number 1: "))
n2 = int(input("Enter the number 2: "))
n3 = int(input("Enter the number 3: "))
if n1 >= n2 and n1 >= n3:
    print(n1,"is greater." )
elif n2 >= n1 and n2 >= n3:
    print(n2,"is greater.")
else:
    print(n3,"is greater.")

Enter the number 1:  5
Enter the number 2:  5
Enter the number 3:  1

5 is greater.

In [20]:
year = int(input("Enter the year: "))
if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print("It's a leap year")
else:
    print("It's not a leap year")

Enter the year:  2024

It's a leap year

In [32]:
n1 = int(input("Enter the number 1: "))
n2 = int(input("Enter the number 2: "))
n3 = int(input("Enter the number 3: "))
l = [n1,n2,n3]
l = sorted(l)
print(l)

Enter the number 1:  5
Enter the number 2:  5
Enter the number 3:  4

[4, 5, 5]

In [27]:
print(l1)

None

In [36]:
n = input("Enter the number: ")
if n == n[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the number:  458

Not a palindrome

In [44]:
for i in range(5):
    print(i * " * ")

 *
 *  *
 *  *  *
 *  *  *  *

In [ ]:
i = 0
while i > 7:
    print(i)
    i = i+1

# Exception Handling

In [3]:
try:
    n = int(input("Enter the number: "))
except:    #handles the error
    print("Error")

Enter the number:  p

Error

In [11]:
try:
    n = int(input("Enter the number: "))
    a = [6,3]
    print(a[n])
except ValueError:
    print("Oops! The number is not an integer")

Enter the number:  2

IndexError: list index out of range

In [14]:
try:
    n = int(input("Enter the number: "))
    a = [6,3]
    print(a[n])
except ValueError:
    print("Oops! The number is not an integer")
except IndexError:
    print("The list doesnot have given index")




print("Finally")

Enter the number:  5

The list doesnot have given index
Finally

# Finally Clause

Always executed
But what's the difference between print and finally when both are excecuted in exception handling process?
Answer : When wrapped in function, print is not excuted when the error is occured while finally is always executed

In [24]:
try:
    n = int(input("Enter the number: "))
except ValueError:
    print("Value error has occured!")
finally:  
    print(" \"Finally\" is executed")

Enter the number:  l

Value error has occured!
 "Finally" is executed

In [31]:
def func1():
    try:
        n = int(input("Enter the number: "))
        return 1
    except:
        print("Some error occured")
        return 0
    #print("Excecute") 
    finally:
        print("Finally is executed")



x = func1()
print(x)

Enter the number:  bh

Some error occured
Finally is executed
0

# Raising custom errors

In [7]:
n = int(input("Enter the number between 1 and 10: "))
if n<1 or n>10:
    raise ValueError("Not Valid!")

Enter the number between 1 and 10:  44

ValueError: Not Valid!

# Exercise

In [57]:
#Encoding

cod = input("Enter the message: ")
if len(cod) >= 3:
    modif = cod[3:]
    app = cod[:3]
    result = modif+app
    print("Encoded Version:",result)
else:
    rev = cod[::-1]
    print("Encoded Version:",rev)

#Decoding

dec = cod

if len(cod) < 3:
    rev1 = rev[::-1]
    print("Decoded Version:",rev1)

else:
    modif1 = result[-3::]
    app2 = result[:-3]
    res2 = modif1+app2
    print("Decoded Version",res2)

Enter the message:  Hritika

Encoded Version: tikaHri
Decoded Version Hritika

In [49]:
#Decoding

dec = cod

if len(cod) < 3:
    rev1 = rev[::-1]
    print(rev1)

else:
    modif1 = result[-3::]
    app2 = result[:-3]
    res2 = modif1+app2
    print(res2)

Om

In [43]:
y = "ryhar"
y1 = y[:-3:1]
y1

'ry'

In [5]:
#for 1 character

import random
import string

random_char = random.choice(string.ascii_lowercase)
print(random_char)

v

In [6]:
#for 3 character

import random
import string

characters = string.ascii_lowercase

# Generate 3 random characters (can be repeating)
# random_chars_list = random.choices(characters, k=3)
# random_chars_string1 = "".join(random_chars_list)

# print
# (random_chars_string1)



# Generate a list of 3 unique random characters
random_chars_list = random.sample(characters, k=3)

# Join the list of characters into a single string
random_chars_string = "".join(random_chars_list)

print(random_chars_string)

czr

In [8]:
#Final Answer!

#Encoding

cod = input("Enter the message: ")
if len(cod) >= 3:
    modif = cod[3:]
    app = cod[:3]
    result = modif+app
    result1 = random_char+modif+app+random_chars_string
    print("Encoded Version:",result1)
else:
    rev = cod[::-1]
    print("Encoded Version:",rev)

#Decoding

dec = cod

if len(cod) < 3:
    rev1 = rev[::-1]
    print("Decoded Version:",rev1)

else:
    modif1 = result[-3::]
    app2 = result[:-3]
    res2 = modif1+app2
    print("Decoded Version",res2)

Enter the message:  Hritika

Encoded Version: vtikaHriczr
Decoded Version Hritika

# Short hand if-else

In [15]:
a = 1000
b = 100
print("A") if a>b else print("=") if a == b else print("B")

A

# Enumerate

built-in function that allows you to loop over a sequence(such as list, tuple or string) and get the index and value of each element in the sequence at the same time.

In [8]:
#using without enumerate

marks = [12,14,50,90,70]
index = 0
for mark in marks:
    print(mark)
    if index == 3:
        print("Hritika, awesome!")
    index += 1

12
14
50
90
Hritika, awesome!
70

In [10]:
#using enumerate

marks = [12,14,50,90,70]
for index, mark in enumerate(marks):
    print(mark)
    if index == 3:
        print("Hritika, awesome!")

12
14
50
90
Hritika, awesome!
70

In [12]:
marks = [12,14,50,90,70]
for index, mark in enumerate(marks):
    print(index, mark)
    if index == 3:
        print("Hritika is awesome")

0 12
1 14
2 50
3 90
Hritika is awesome
4 70

In [13]:
#changing the index

marks = [12,14,50,90,70]
for index, mark in enumerate(marks, start = 1):
    print(index, mark)
    if index == 3:
        print("Hritika is awesome")

1 12
2 14
3 50
Hritika is awesome
4 90
5 70

# Virtual Environment

In [1]:
#Try on your home's laptop

# Import

Summary Table:

Statement	                How to call	        Readability	    Risk of conflicts	    Recommended use
import math	                 math.sqrt()	       High	       Low	               Always safe
from math                  import *	sqrt()	       Low	       High	                 Avoid
from math           import sqrt, pi	sqrt()	       Good	       Low	          Good for small scripts

In [7]:
import math

In [8]:
math.__dict__

{'__name__': 'math',
 '__doc__': 'This module provides access to the mathematical functions\ndefined by the C standard.',
 '__package__': '',
 '__loader__': _frozen_importlib.BuiltinImporter,
 '__spec__': ModuleSpec(name='math', loader=<class '_frozen_importlib.BuiltinImporter'>, origin='built-in'),
 'acos': <function math.acos(x, /)>,
 'acosh': <function math.acosh(x, /)>,
 'asin': <function math.asin(x, /)>,
 'asinh': <function math.asinh(x, /)>,
 'atan': <function math.atan(x, /)>,
 'atan2': <function math.atan2(y, x, /)>,
 'atanh': <function math.atanh(x, /)>,
 'cbrt': <function math.cbrt(x, /)>,
 'ceil': <function math.ceil(x, /)>,
 'copysign': <function math.copysign(x, y, /)>,
 'cos': <function math.cos(x, /)>,
 'cosh': <function math.cosh(x, /)>,
 'degrees': <function math.degrees(x, /)>,
 'dist': <function math.dist(p, q, /)>,
 'erf': <function math.erf(x, /)>,
 'erfc': <function math.erfc(x, /)>,
 'exp': <function math.exp(x, /)>,
 'exp2': <function math.exp2(x, /)>,
 'expm1': <function math.expm1(x, /)>,
 'fabs': <function math.fabs(x, /)>,
 'factorial': <function math.factorial(n, /)>,
 'floor': <function math.floor(x, /)>,
 'fmod': <function math.fmod(x, y, /)>,
 'frexp': <function math.frexp(x, /)>,
 'fsum': <function math.fsum(seq, /)>,
 'gamma': <function math.gamma(x, /)>,
 'gcd': <function math.gcd(*integers)>,
 'hypot': <function math.hypot>,
 'isclose': <function math.isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)>,
 'isfinite': <function math.isfinite(x, /)>,
 'isinf': <function math.isinf(x, /)>,
 'isnan': <function math.isnan(x, /)>,
 'isqrt': <function math.isqrt(n, /)>,
 'lcm': <function math.lcm(*integers)>,
 'ldexp': <function math.ldexp(x, i, /)>,
 'lgamma': <function math.lgamma(x, /)>,
 'log': <function math.log>,
 'log1p': <function math.log1p(x, /)>,
 'log10': <function math.log10(x, /)>,
 'log2': <function math.log2(x, /)>,
 'modf': <function math.modf(x, /)>,
 'pow': <function math.pow(x, y, /)>,
 'radians': <function math.radians(x, /)>,
 'remainder': <function math.remainder(x, y, /)>,
 'sin': <function math.sin(x, /)>,
 'sinh': <function math.sinh(x, /)>,
 'sqrt': <function math.sqrt(x, /)>,
 'tan': <function math.tan(x, /)>,
 'tanh': <function math.tanh(x, /)>,
 'sumprod': <function math.sumprod(p, q, /)>,
 'trunc': <function math.trunc(x, /)>,
 'prod': <function math.prod(iterable, /, *, start=1)>,
 'perm': <function math.perm(n, k=None, /)>,
 'comb': <function math.comb(n, k, /)>,
 'nextafter': <function math.nextafter(x, y, /, *, steps=None)>,
 'ulp': <function math.ulp(x, /)>,
 'pi': 3.141592653589793,
 'e': 2.718281828459045,
 'tau': 6.283185307179586,
 'inf': inf,
 'nan': nan}

In [9]:
math.floor(4.2323)

4

In [10]:
math.sqrt(9)

3.0

In [11]:
from math import sqrt, pi

In [12]:
r = sqrt(9) * pi

In [13]:
print(r)

9.42477796076938

In [14]:
sqrt(10) * pi

9.934588265796101

In [15]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [20]:
from Hritika import welcome, hritika

In [36]:
print(hritika)

A good girl

In [21]:
welcome()

Welcome!!

# if name == "main":

 Simple version:
__main__ is just Pythons way of asking:

Am I running by myself, or am I helping someone else?

If by myself  do the main stuff.
If helping  stay quiet.

In [37]:
import Hritika

print(__name__)

if __name__ == "__main__":
    welcome()

__main__
Welcome!!

In [40]:
o = welcome()

Welcome!!

In [41]:
import os

In [43]:
os.mkdir("data")

In [44]:
#creating 100 folders

for i in range(0,100):
    os.mkdir(f"data/Day{i+1}")

In [47]:
#renaming the folders

for i in range(0,100):
    os.rename((f"data/Day{i+1}") , (f"data/Tutorial{i+1}"))

In [48]:
#to get the list of folders

folders = os.listdir("data")

print(folders)

['Tutorial1', 'Tutorial10', 'Tutorial100', 'Tutorial11', 'Tutorial12', 'Tutorial13', 'Tutorial14', 'Tutorial15', 'Tutorial16', 'Tutorial17', 'Tutorial18', 'Tutorial19', 'Tutorial2', 'Tutorial20', 'Tutorial21', 'Tutorial22', 'Tutorial23', 'Tutorial24', 'Tutorial25', 'Tutorial26', 'Tutorial27', 'Tutorial28', 'Tutorial29', 'Tutorial3', 'Tutorial30', 'Tutorial31', 'Tutorial32', 'Tutorial33', 'Tutorial34', 'Tutorial35', 'Tutorial36', 'Tutorial37', 'Tutorial38', 'Tutorial39', 'Tutorial4', 'Tutorial40', 'Tutorial41', 'Tutorial42', 'Tutorial43', 'Tutorial44', 'Tutorial45', 'Tutorial46', 'Tutorial47', 'Tutorial48', 'Tutorial49', 'Tutorial5', 'Tutorial50', 'Tutorial51', 'Tutorial52', 'Tutorial53', 'Tutorial54', 'Tutorial55', 'Tutorial56', 'Tutorial57', 'Tutorial58', 'Tutorial59', 'Tutorial6', 'Tutorial60', 'Tutorial61', 'Tutorial62', 'Tutorial63', 'Tutorial64', 'Tutorial65', 'Tutorial66', 'Tutorial67', 'Tutorial68', 'Tutorial69', 'Tutorial7', 'Tutorial70', 'Tutorial71', 'Tutorial72', 'Tutorial73', 'Tutorial74', 'Tutorial75', 'Tutorial76', 'Tutorial77', 'Tutorial78', 'Tutorial79', 'Tutorial8', 'Tutorial80', 'Tutorial81', 'Tutorial82', 'Tutorial83', 'Tutorial84', 'Tutorial85', 'Tutorial86', 'Tutorial87', 'Tutorial88', 'Tutorial89', 'Tutorial9', 'Tutorial90', 'Tutorial91', 'Tutorial92', 'Tutorial93', 'Tutorial94', 'Tutorial95', 'Tutorial96', 'Tutorial97', 'Tutorial98', 'Tutorial99']

In [49]:
for f in folders:
    print(f)

Tutorial1
Tutorial10
Tutorial100
Tutorial11
Tutorial12
Tutorial13
Tutorial14
Tutorial15
Tutorial16
Tutorial17
Tutorial18
Tutorial19
Tutorial2
Tutorial20
Tutorial21
Tutorial22
Tutorial23
Tutorial24
Tutorial25
Tutorial26
Tutorial27
Tutorial28
Tutorial29
Tutorial3
Tutorial30
Tutorial31
Tutorial32
Tutorial33
Tutorial34
Tutorial35
Tutorial36
Tutorial37
Tutorial38
Tutorial39
Tutorial4
Tutorial40
Tutorial41
Tutorial42
Tutorial43
Tutorial44
Tutorial45
Tutorial46
Tutorial47
Tutorial48
Tutorial49
Tutorial5
Tutorial50
Tutorial51
Tutorial52
Tutorial53
Tutorial54
Tutorial55
Tutorial56
Tutorial57
Tutorial58
Tutorial59
Tutorial6
Tutorial60
Tutorial61
Tutorial62
Tutorial63
Tutorial64
Tutorial65
Tutorial66
Tutorial67
Tutorial68
Tutorial69
Tutorial7
Tutorial70
Tutorial71
Tutorial72
Tutorial73
Tutorial74
Tutorial75
Tutorial76
Tutorial77
Tutorial78
Tutorial79
Tutorial8
Tutorial80
Tutorial81
Tutorial82
Tutorial83
Tutorial84
Tutorial85
Tutorial86
Tutorial87
Tutorial88
Tutorial89
Tutorial9
Tutorial90
Tutorial91
Tutorial92
Tutorial93
Tutorial94
Tutorial95
Tutorial96
Tutorial97
Tutorial98
Tutorial99

# Local vs Global Variables

In [3]:
x = 4
print(x)

def hello():
    x = 5
    print(x)
    print("Hello Harry")

hello()

4
5
Hello Harry

In [9]:
x = 10

def hello():
    global x  #changing the global variable
    x = 5
    y = 23
    print(y)

hello()
print(x)  #global variable
#print(y)  #local variable (will not be printed and will give error for it being local)

23
5

# File IO

In [40]:
f = open('myfile.txt', 'rb')

In [41]:
print(f)

<_io.BufferedReader name='myfile.txt'>

In [42]:
text = f.read()

In [43]:
print(text)

b'Heyyy!!!!!!'

In [44]:
f.close()

In [51]:
ff = open('myfile2.txt', 'w')

In [52]:
ff.write("Hello World!")

12

In [53]:
ff.close()

In [61]:
j = open('myfile.txt', 'a')

In [62]:
j.write("Hritika")

7

In [63]:
j.close()

In [65]:
with open('myfile.txt', 'a') as f:
    f.write("Hey I'm")

In [92]:
f = open('myfile.txt', 'r')

In [93]:
l = f.readlines()
print(l)

["Heyyy!!!!!!Hritika/nHritikaHritikaHey I'm\n", 'hritika\n', 'Divine Buds']

In [88]:
f.close()

In [91]:
while True:
    l = f.readline()
    if not l:
        break
    print(l)

Heyyy!!!!!!Hritika/nHritikaHritikaHey I'm

hritika

Divine Buds

In [144]:
f = open('myfile3.txt', 'r')

In [145]:
i = 0

In [146]:
while True:
    i = i+1
    l = f.readline()
    if not l:
        break
    m1 = l.split(',')[0]
    m2 = l.split(',')[1]
    m3 = l.split(',')[2]
    print(f"Marks of student {i} in Maths is: {m1}")
    print(f"Marks of student {i} in English is: {m2}")
    print(f"Marks of student {i} in SS is: {m3}")

Marks of student 1 in Maths is: 55
Marks of student 1 in English is: 88
Marks of student 1 in SS is: 67

Marks of student 2 in Maths is: 77
Marks of student 2 in English is: 96
Marks of student 2 in SS is: 35

Marks of student 3 in Maths is: 78
Marks of student 3 in English is: 82
Marks of student 3 in SS is: 77

In [171]:
f = open('myfile3.txt', 'r')

In [172]:
l = f.readline()

In [173]:
i = 0

In [174]:
for i in l:
    if True:
        i = i + 1
    else:
        break
    m1 = l.split(',')[0]
    m2 = l.split(',')[1]
    m3 = l.split(',')[2]
    print(f"Marks of student {i} in Maths is: {m1}")
    print(f"Marks of student {i} in English is: {m2}")
    print(f"Marks of student {i} in SS is: {m3}")

TypeError: can only concatenate str (not "int") to str

In [181]:
f = open('myfile2.txt','w')

In [182]:
lines = ['line1\n', 'line2\n', 'line3\n']

In [183]:
f.writelines(lines)

In [184]:
f.close()

In [185]:
f = open('myfile2.txt','a')

In [186]:
lines = f.write('\nline4\n')

In [187]:
f.close()

In [188]:
f = open('myfile2.txt','a')

In [190]:
l = f.write('line 5\n'), f.write('line 6\n')

In [191]:
f.close()

In [211]:
f = open('myfile.txt', 'r')

In [203]:
type(f)

_io.TextIOWrapper

In [212]:
print(f.seek(10))    #seek changes the position of the pointer in the file
print(f.tell())      #tell returns the current position of the pointer in the file
data = f.read(5)
print(data)

10
10
!Hrit

# Lambda

In [3]:
def double(x):
    return x*2

print(double(5))

10

In [4]:
double = lambda x : x*2
print(double(5))

10

In [6]:
cube = lambda x: x*x*x
print(cube(3))

27

In [8]:
def cube(x):
    return x*x*x
print(cube(3))

27

In [10]:
def appl(fx, value):  #func ko func pass kar sakte ho
    return 6 + fx(value)
print(appl(cube, 2))

14

# Map, Filter & Reduce

All 3 are higher order functions as coz they take other functions as argument 
A function taking other function as an argument is known as higher function

### Map

In [32]:
def cube(x):
    return x*x*x

print(cube(6))

216

In [20]:
l = [1,2,3,4,4]

In [13]:
for i in l:
    n = cube(i)
    print(n)

1
8
27
64

In [23]:
new_l = list(map(cube, l)) #tuple, set can also be used instead of list
print(new_l)

[1, 8, 27, 64, 64]

### Filter

In [34]:
def filter_func(a):
    return a<4


newnewl = list(filter(filter_func, l))
print(newnewl)

[1, 2, 3]

### Reduce

In [35]:
from functools import reduce

In [36]:
numbers = [1,2,3,4,5,6]

In [37]:
sum = reduce(lambda x, y : x+y, numbers)
print(sum)

21

In [38]:
def mysum(x,y):
    return x+y

In [39]:
s = reduce(mysum, numbers)
print(s)

21

# is vs ==

In [41]:
a = 4
b = "4"

print(a is b) #compares exact location of object in memory(identity)
print(a == b) #compares value

False
False

In [43]:
a = [1,2,45]
b = [1,2,45]

print(a is b)
print(a == b)

False
True

Python stores immutable objects like tuple, string, int, float etc. in the same location if they have same values. 
Since immutable objects cant change, Python can safely reuse them without worrying that one variable will affect another.
Saves the memory.

In [55]:
a = 3
b = 3
print(a is b) 
print(a == b)

True
True

In [56]:
print(id(a))

140732314661864

In [57]:
print(id(b) == id(a))

True

# Snake, Water, Gun

input from user, input from computer

In [157]:
import random
l = ["snake", "water", "gun"]
n1 = random.choice(l)
print("\033[1mWELCOME TO THE GAME!!\033[0m")
n = input("You :")
n = n.lower()
print("Computerji:", n1)

if n not in l:
    print("Enter valid input!")
else:
    if n == n1:
        print("It's a tie!")
    elif (n == "snake" and n1 == "water") or (n == "water" and n1 == "gun") or (n == "gun" and n1 == "snake"):
        print("You win!!")
    else:
        print("Computer wins!")

WELCOME TO THE GAME!!

You : water

Computerji: snake
Computer wins!